<h1>タスク</h1>
<div class = "wrapper clearfix">
  <div class = "container">
  <% @tasks.each do |task| %>
    <%# <ul class = "menu"> %>
      <p>タイトル: <%= task.title %></p>
      <p>内容: <%= task.content %></p>
      <p>優先順位: <%= task.priority %></p>
      <p>ステータス: <%= task.status %></p>
      <p>終了期限: <%= task.deadline %></p>
    <%# </ul> %>
    <ul class = "menu">
      <li><%= link_to '詳細', task_path(task.id) %></li>
      <li><%= link_to "編集", edit_task_path(task.id), data: { confirm: '本当に編集していいですか？'} %></li>
      <li><%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？'} %></li>
    </ul>
  <% end %>
  </div>
</div>
<br>
<%= link_to '新しいタスクを投稿' , new_task_path %>
