<!DOCTYPE html>
<html>
  <head>
    <title>IntotaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header class = "header">
      <% if logged_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <%= link_to "タスク一覧", tasks_path(current_user.tasks) %>
    <% else %>
      <%= link_to "ユーザー登録", new_user_path %>
      <%= link_to "ログイン", new_session_path %>
    <% end %>
    </header>

    <% flash.each do |key, value| %>
        <%= content_tag(:div,value, class: "#{key}") %>
    <% end %>
      
    <%= yield %>

    <footer class = "footer">
      <p>Copyright © 2023 DIVE INC ALL RIGHTS RESERVED.</p>
    </footer>
  </body>
</html>
